<h1>Testimonials</h1>

<p>Learn all about <a href="https://angularfirebase.com/tag/ssr/">server-side rendering strategies in Angular</a></p>

<h2>Dynamic Firebase Data:</h2>

<div *ngFor="let animal of animals" class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img [src]="animal.imgURL" alt="{{ animal.bio }}">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ animal.name }}</strong>
          <br> {{ animal.bio }}
        </p>
      </div>
    </div>
  </article>
</div>
